{% load static %}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="{% static "site.webmanifest"%}">
    <link rel="apple-touch-icon" href="{% static "icon.png"%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{% static "css/normalize.css"%}">
    <link rel="stylesheet" href="{% static "css/main.css"%}">
    <meta name="theme-color" content="#fafafa">
    <script src="{% static "js/vendor/modernizr-3.11.2.min.js" %}"></script>
    <script src="{% static "js/plugins.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "javascript/jquery-3.6.0.min.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    {% block head_js_more %}
    {% endblock %}
</head>

<body>

{% block content %}
{% endblock %}

</body>

</html>
