{% extends 'base.html' %}
{%  load i18n %}
{% block content %}
    <h1>Index !</h1>
    <p>{% trans "Hi visitor !" %}</p>
    <p>{% blocktrans trimmed %}
        i hope you will
        enjoy
        this
        website
    {% endblocktrans %}</p>
    {% if messages %}
        <ul class="alert alert-success">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Important:
                    {% endif %}
                    {{ message }}
                </p>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url "ingredient_list" %}">Listes des Ingrédients</a>
    <a class="text-primary" href="{% url "recipe_list" %}">Listes des Recettes</a>
{% endblock %}