{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{% static "javascript/jquery-3.6.0.min.js" %}"></script>
    <script src="{% static "javascript/script.js" %}"></script>
    <title>Titre</title>
</head>
<body>
    <h1>Test</h1>
</body>
</html>