<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste des ingredient</title>
</head>
<body>
    <ul>
    {% for object in object_list %}
        <li>
            {{ object }}
            <a href="{% url "ingredient_update" object.pk %}">Modifier</a>
            <a href="{% url "ingredient_delete" object.pk %}">Supprimer</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{% url "index" %}">Back</a>
    <a class="btn btn-primary" href="{% url "ingredient_create" %}">Ajouter un ingrédient</a>
</body>
</html>