<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Créer un ingrédient</title>
</head>
<body>
    <p>Voulez vous vraiment supprimer {{ object }}</p>
    <form action="" method="post">
    {% csrf_token %}
        <button type="submit">Supprimer</button>
    </form>
    <a href="{% url "ingredient_list" %}">Back</a>
</body>
</html>