{% extends 'base.html' %}

{% block content %}
    <h1>Login !</h1>
    <form action="" method="post">
    {% csrf_token %}
    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <h2>Erreur générique ! {{ error }}</h2>
        {% endfor %}
    {% endif %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <h2 class="text-danger">{{ error }}</h2>
                {% endfor %}
            {% endif %}
            <p>
            <span>{{ field.label }} :</span>
            {{ field }}
            </p>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Envoyer</button>
    </form>
{% endblock %}