<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Détail des recettes</title>
</head>
<body>
    <hi>{{ object.title }}</hi>
    <h2>{{ object.summary }}</h2>
    <p>{{ object.content }}</p>
    {% for ingredient in ingredients %}
        <p>{{ ingredient }}</p>
    {% endfor %}
    <a href="{% url "recipe_list" %}">Back</a>
</body>
</html>